.login-menu{
    display: flex;
}
.login-menu li{
    margin-left: 25px;
    list-style-type: none;
}
.login-menu li a{
    text-decoration: none;
    color: black;
}
.login-menu  h3{
    margin: 0;
    font-size: 18px;
}
.heading{
    color: red;
    text-align: center;
    margin-top: 50px;
}